<%if flash[:notice]%>
<%=flash[:notice]%>
<%end%>

<h1>Edit Dog?</h1>

<%=form_for @dog do |f|%>
<%=f.label :name%><br>
<%=f.text_field :name%><br>
<%=f.label :breed%><br>
<%=f.text_field :breed%><br>
<%=f.label :age%><br>
<%=f.number_field :age%><br>
<%=f.submit%><br>
<%end%>
